[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"
selenium = "*"
pre-commit = "*"

[packages]
Django = "*"
numpy = "==1.19.3"
pandas = "*"
matplotlib = "*"
seaborn = "*"
mpld3 = "*"
sqlalchemy = "*"
python-memcached = "*"
psycopg2 = "*"
backoff = "*"
google-cloud-secret-manager = "*"
google-cloud-storage = "*"
gcsfs = "*"
social-auth-app-django = "*"
python-dotenv = "*"
pyarrow = "*"
fastparquet = "*"
statsmodels = "*"
deap = "*"
dask = {extras = ["complete"], version = "*"}

[requires]
python_version = "3.8"
