[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
coverage = "*"

[packages]
mysqlclient = "*"
Django = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
mpld3 = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"
