/* General styles */
body {
	background-color: #E9F6FF;
	font-family: Verdana, Arial, sans-serif;
	margin-bottom: 30px;
}


a:link {}
a:visited {}
img{
	
	object-fit: cover;
}

img.nav-logo{
	max-width:200px;
	margin-left: 36px;
}

.content-div {
	margin-top: 36px;
}

/* Table styles */
table, td, th {
	border: 2px solid #400000;
	border-collapse: collapse;
	color: #BF0000;
}

td, ul, li {
	font-size: 14px;
	font-family: Verdana, Arial, sans-serif;
	color: #400000;
	text-align: left;
}

th, td {
	padding: 12px;
}

th.tableHeader1 {
	font-family: Arial, Verdana, Times, sans-serif;
	font-size: 30px;
	width: 80%
}

th.tableHeader2 {
	font-family: Arial, Verdana, Times, sans-serif;
	text-align: center;
	width: 12%;
	font-style: italic;
	font-size: 25px;
}

table.tableBody {
	margin: auto;
	background-color: #BEBEBE;
	width: 90%
}

div.tableBreak {
	margin-bottom: 30px;
	margin-top: 125px;
}


/* Navigation bar styles */
ul.topnav {
	background-color: #000000;
	color: #BF0000;
	list-style-type: none;
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	overflow: hidden;
	padding-inline-end: 32px;
}

li.topnav {
	color: #BF0000;
	float: left;
}

li.topnav a.topnav, li.topnav h3.topnav {
	color: inherit;
	display: block;
	text-align: center;
	padding: 14px 16px ;
	text-decoration: none;
	font-size: 18px;
}

li.topnav a:hover {
	background-color: grey;
}

li.a.active {
	color: white;
}

h3.nav-title {
	padding-inline-start: 32px;
}

/* Blog styling */
/*Blog container */
.blog-container{
	background-blend-mode: luminosity;
}

ul#id_iso_code{
	max-height: 200px;
	min-height: 100px;
	overflow-y: scroll;
	list-style: none;
	padding: 0;
}

div#graph_container{
	position: relative;
}

#country_select_form{
	display: flex;
	flex-direction: column;
}

#country_select_form>button{
	margin-top: 32px;
}

#country_select_form>select, #country_select_form>ul{
	margin-bottom: 16px;
}

.custom-checkbox>ul{
	line-height: 16px;
}

#selection_container>p>input{
	display: block;
	width: 100%;
}

@media screen and (max-width: 1410px){
	#data{
		flex-direction: column;
	}

	#data>div{
		max-width: unset;
		min-width: 832px;
		width: inherit;
	}

	#selection_container{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	#selection_container>p{
		width: available;
	}

	#country_select_form>label{
		grid-row: 1;
	}

	#country_select_form>select, #country_select_form>ul{
		grid-row: 2;
	}

	#country_select_form>button{
		grid-area: 3 / 1 / 4 / 4;
	}

	#data>div{
		min-width: fit-content;
	}
}