{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<head>
    <title>About Page</title>
</head>

<body>

    <div class="content-div row">
        <div class="col-md-2"></div>
            <div class="blog-container col-md-8 shadow p-3 mb-5 bg-white rounded">
                <div class="container row content">
                    <h2 style="margin:auto; margin-bottom:15px">Our Goal</h2>
                </div>
                <div class="container row content" style="padding-left:80px">
                    <p>The DataTitans team is set out to create a polished, user friendly web interface to display informative data about COVID-19 statistics. The future of the site can be read about on our Blog page.</p>
            </div>
        </div>
    </div>


    <div class="content-div row">
        <div class="col-md-2"></div>
            <div class="blog-container col-md-8 shadow p-3 mb-5 bg-white rounded">
                <div class="container row content"  style="padding-left:50px;">
                    <div class="container row content" style="margin-bottom:30px">
                        <h2 style="margin:auto">The Team</h2>
                    </div>
                    <div class="container row content" style="margin-bottom:30px">
                        <div class="col-md-3">
                            <img src="{% static 'img/Brian-colorrun.jpg' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Brian</h4>
                            <p>
                                With a BA in economics earned sometime last century, Brian decided to return to school to pursue a degree in Data Science and Analytics. His primary motivation was to amass every imaginable tool to win arguments with his friends. If rounded to the nearest integer, Brian’s current GPA is 2 points higher than what he achieved for his first degree.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/Jeff-img.jpg' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Jeff</h4>
                            <p>
                                Having changed majors from Architecture, Music, Art, and Computer Animation since 2004, Jeff will finally be finishing a degree in Computer Science after this semester. Jeff lives with his wife, an Irish setter, an Irish/gordon setter mix, and a marble bengal cat that screams every morning/night.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/chisulo_square.png' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Chisulo</h4>
                            <p>
                                After watching a video of the sixth sense technology back in 2011, Chisulo threw away his plans of becoming an architect and dove into the world of computer science. Now pursuing his masters, he has a love-hate relationship with the field, as he both marvels and dreads the impact technology will have on humanity’s future.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/Ryan-sq.jpg' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Ryan</h4>
                            <p>
                                Growing up in the south surrounded by farms and music, Ryan abandoned his musical studies and transitioned into the sweet, bitter cold of Michigan. His interest in Computer Science followed soon thereafter. This is his final semester before graduating with his CS degree.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/Ben.jpg' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Ben</h4>
                            <p>
                                After spending 2 years studying biomechanical engineering Ben decided that it wasn’t for him and moved back to michigan for the 5th time with dreams of studying data science. Ben now resides at home in Saline where he studys to finish that data science degree at Eastern Michigan university, hopefully this semester.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/Emmet-sq.png' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Emmet</h4>
                            <p>
                                A fan of video games since he was a child, Emmet has always had a fascination with computers, both for the entertainment they provide, as well as the ways in which slight mistakes in programming can result in fascinating glitches. Emmet chose to pursue a degree in Computer Science at Eastern Michigan University, and is interested in potentially further exploring game development in the future.
                            </p>
                        </div>
                    </div>

                    <div class="container row content" style="margin-bottom:35px">
                        <div class="col-md-3">
                            <img src="{% static 'img/fred_flintstone_square.jpg' %}" class="img-fluid" style="border-radius:100%; max-width:166px">
                        </div>
                        <div class = "col-md-9">
                            <h4>Fred</h4>
                            <p>
                                Fred has lived in Ypsilanti Michigan his whole life. He lives with his wife, 3 year old daughter and pet dog Dino. Every weekend he would either spend the day with his family at the park or with his friends at a local restaurant having debates about current events. Once the pandemic caused a lockdown, Fred knew that he had one destiny: To become the Data Titans beacon of hope! Their one and true Persona!
                            </p>
                        </div>
                    </div>

                </div>
            </div>
    </div>

    <br>
</body>
{% endblock content %}
