{% extends 'base.html' %}

{% block content %}
<head>
    <title>About Page</title>
</head>
 
<body>

	<div class="tableBreak">
		<table class="tableBody">
			<tr>
				<th class="tableHeader1">About Page</th>
			</tr>
		</table>
	</div>
 
    <table class="tableBody">
        <tr>
            <th class="tableHeader2" rowspan="2">Our Goal:</th>
            <td>
                The DataTitans team is set out to create a polished, user friendly web interface to display informative data about COVID-19 statistics. The future of the site can be read about on our Blog page.
            </td>
        </tr>
    </table>
	
	<br><br><br>

	<table class="tableBody">
		<tr> 
			<th class="tableHeader2" colspan="2">Meet the Team</th>
		</tr>
        <tr>
            <th class="tableHeader2" style="text-align:right">Brian:</th>
            <td>
                With a BA in economics earned sometime last century, Brian decided to return to school to pursue a degree in Data Science and Analytics. His primary motivation was to amass every imaginable tool to win arguments with his friends. If rounded to the nearest integer, Brian’s current GPA is 2 points higher than what he achieved for his first degree.
            </td>
        </tr>
        <tr>
            <th class="tableHeader2" style="text-align:right">Ben:</th>
            <td>
                After spending 2 years studying biomechanical engineering Ben decided that it wasn’t for him and moved back to michigan for the 5th time with dreams of studying data science. Ben now resides at home in Saline where he studys to finish that data science degree at Eastern Michigan university, hopefully this semester.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Chisulo:</th>
            <td>
                After watching a video of the sixth sense technology back in 2011, Chisulo threw away his plans of becoming an architect and dove into the world of computer science. Now pursuing his masters, he has a love-hate relationship with the field, as he both marvels and dreads the impact technology will have on humanity’s future.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Emmet:</th>
            <td>
                A fan of video games since he was a child, Emmet has always had a fascination with computers, both for the entertainment they provide, as well as the ways in which slight mistakes in programming can result in fascinating glitches. Emmet chose to pursue a degree in Computer Science at Eastern Michigan University, and is interested in potentially further exploring game development in the future.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Jeff:</th>
            <td>
                Having changed majors from Architecture, Music, Art, and Computer Animation since 2004, Jeff will finally be finishing a degree in Computer Science after this semester. Jeff lives with his wife, an Irish setter, an Irish/gordon setter mix, and a marble bengal cat that screams every morning/night.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Ryan:</th>
            <td>
                Growing up in the south surrounded by farms and music, Ryan abandoned his musical studies and transitioned into the sweet, bitter cold of Michigan. His interest in Computer Science followed soon thereafter. This is his final semester before graduating with his CS degree.
            </td>
        </tr>
    </table>
	<br>
</body>
{% endblock content %}
