{% extends 'base.html' %}

{% block content %}

    <table>
        <tr>
            <th rowspan="2">Our Goal:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
        <tr>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>   
    </table>
	
	<br>
	<h3>Meet the Team</h3>
	
	<table>
        <tr>
            <th style="text-align:right">Brian:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
        <tr>
            <th style="text-align:right">Ben:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th style="text-align:right">Chisulo:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th style="text-align:right">Emmet:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th style="text-align:right">Jeff:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th style="text-align:right">Ryan:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
    </table>
	<br>
{% endblock content %}