{% extends 'base.html' %}

{% block content %}
<head>
    <title>About Page</title>
</head>
 
<body>

	<div class="tableBreak">
		<table class="tableBody">
			<tr>
				<th class="tableHeader1"> About Page </th>
			</tr>
		</table>
	</div>
 
    <table class="tableBody">
        <tr>
            <th class="tableHeader2" rowspan="2">Our Goal:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
    </table>
	
	<br><br><br>

	<table class="tableBody">
		<tr> 
			<th class = "tableHeader2" colspan="2"> Meet the Team </th>
		</tr>
        <tr>
            <th class="tableHeader2" style="text-align:right">Brian:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
        <tr>
            <th class="tableHeader2" style="text-align:right">Ben:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Chisulo:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Emmet:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Jeff:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
		<tr>
            <th class="tableHeader2" style="text-align:right">Ryan:</th>
            <td>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </td>
        </tr>
    </table>
	<br>
</body>
{% endblock content %}