{% load static %}
<!DOCTYPE html>
<html lang="en-US">

	<!-- Base HTML for all webpages -->
    <head>
        <title>Data Titans</title>
        <meta charset="UTF-8">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        
        <script src="https://kit.fontawesome.com/72030bdf4d.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="row" >
        <h3 class="col-md-3 nav-title">Data Titans</h3>
        <ul class="topnav col-md-9">
            <li class="topnav">
                <a class="topnav" href="{% url 'about' %}"><i class="far fa-lightbulb"></i>About us</a>
            </li>
            <li class="topnav">
                <a class="topnav" href="{% url 'blog' %}"><i class="far fa-newspaper"></i>Blog</a>
            </li>
            <li class="topnav">
                <a class="topnav" href="{% url 'home' %}"><i class="far fa-chart-bar"></i>Data</a>
            </li>
        </ul>
        </div>
        
		
        {% block content %}
        {% endblock content %}

        <footer>a footer</footer>
    </body>
</html>
