<!DOCTYPE html>
{% load static %}
<html lang="en-US">

	<!-- Base HTML for all webpages -->
    <head>
        <title>Data Titans</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/72030bdf4d.js" crossorigin="anonymous"></script>
        <link href="{% static 'css/data_style.css' %}" rel="stylesheet" type="text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.js" integrity="sha512-zO8oeHCxetPn1Hd9PdDleg5Tw1bAaP0YmNvPY8CwcRyUk7d7/+nyElmFrB6f7vg4f7Fv4sui1mcep8RIEShczg==" crossorigin="anonymous"></script>
        <style>
            .row{
                margin-right: 0;
            }
        </style>
    </head>
    
    <body>
        <div class="row" >
        <!-- <h3 class="col-md-3 nav-title">Data Titans</h3> -->
        <ul class="topnav col-md-12">
            <li class="topnav" style="background-color: #BF0000">
                <a class="topnav" href="{% url 'home' %}" style="height: 50px; padding: 0 16px"><img src="{% static 'img/logo.png' %}" alt="Site Logo" class="nav-logo"></a>
            </li>
            <li class="topnav">
                <a class="topnav" href="{% url 'home' %}"><i class="far fa-chart-bar" style="padding-right:3px"></i>Data</a>
            </li>
            <li class="topnav">
                <a class="topnav" href="{% url 'blog' %}"><i class="far fa-newspaper" style="padding-right:3px"></i>Blog</a>
            </li>
            <li class="topnav">
                <a class="topnav" href="{% url 'about' %}"><i class="far fa-lightbulb" style="padding-right:3px"></i>About us</a>
            </li>
        </ul>
        </div>
        
		
        {% block content %}
        {% endblock content %}
    </body>
</html>
