{% extends 'base.html' %}

{% block content %}
<head>
    <title>Blog Page</title>
</head>
 
<body>

	<div class="tableBreak">
		<table class="tableBody">
			<tr>
				<th class="tableHeader1">Blog Page</th>
			</tr>
		</table>
	</div>

    <h2>Blog Page</h2>

    {% for post in posts %}
        <div>
            <h3><a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a></h3>
            <p>{{ post.text|slice:"0:20" }}...</p>
            <p>published: {{ post.published_date }}</p>
        </div>
    {% endfor %}
</body>
{% endblock content %}
