{% extends 'base.html' %}
{% load static %}
{% block content %}
 

 
    <div class="content-div row">
        <div class="col-md-1"></div>
        <div class="blog-container col-md-10 shadow p-3 mb-5 bg-white rounded">
            <h2>Data Page</h2>
            <div class="container row content" id="data">
        
                <!-- Dropdown -->
                <div class="col-md-3 card" style="padding:15px">
                    <form method="GET" enctype="multipart/form-data" id="country_select_form">
                            {{country_selector}}
                        <input type="text" id="country_search" onkeyup="countrySearch()" placeholder="Search Countries...">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <script>
                        /** Narrows down countries to only those that match the search.
                         *
                         */
                        function countrySearch() {
                            let input, countryList;
                            input = document.getElementById("country_search").value.toLowerCase();
                            countryList = document.getElementById("id_country_code");
                            const countries = countryList.getElementsByTagName("li");
                            const filter = RegExp("^" + input);
                            for (let country of countries) {
                                country.style.display = filter.test(country.getElementsByTagName("label")[0].textContent.toLowerCase().trim()) ? "" : "none";
                            }
                        }
                    </script>
                </div>
            

                <!-- Chart -->
                <div class="col-md-9 card" style="padding:15px;margin-left:0;" id="graph_container">
                    {{ chart|safe }}
                </div>
            </div>
        </div>
	</div>
	
   
    

{% endblock content %}
