{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load cache %}
 

 
    <div class="content-div row">
        <div class="col-md-1"></div>
        <div class="blog-container col-md-10 shadow p-3 mb-5 bg-white rounded">
            <h2>Data Page</h2>
            <div class="container row content" id="data">
        
                <!-- Dropdown -->
                <div class="col-md-3 card" style="padding:15px">
                    <form method="GET" enctype="multipart/form-data" id="country_select_form"
                     name="country_select_form">
                        <div id="selection_container">
                            {{country_selector}}
                        </div>
{#                        <button type="button" class="btn btn-primary">Uncheck all</button>#}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <script>
                        /** Narrows down countries to only those that match the search.
                         *
                         */
                        function countrySearch() {
                            let input, countryList;
                            input = document.getElementById("country_search").value.toLowerCase();
                            countryList = document.getElementById("id_iso_code");
                            const countries = countryList.getElementsByTagName("li");
                            const filter = RegExp("^" + input);
                            for (let country of countries) {
                                country.style.display = filter.test(country.getElementsByTagName("label")[0].textContent.toLowerCase().trim()) ? "" : "none";
                            }
                        }

                        // Add a search bar to the country selection field.
                        {
                            if (!!document.getElementById("country_search")) throw "Country search box already exists!";
                            let search_box = document.createElement("input");
                            search_box.id = "country_search";
                            search_box.addEventListener("keyup", countrySearch);
                            search_box.placeholder = "Search Countries...";
                            const countryCodeList = document.getElementById("id_iso_code");
                            const container = countryCodeList.previousSibling;
                            container.appendChild(search_box);
                            container.appendChild(countryCodeList);
                            container.nextSibling.remove();
                            let clear_button = document.createElement("button");
                            clear_button.className = "btn btn-primary";
                            clear_button.id = "country_clear_button";
                            clear_button.addEventListener("click", () => $('#id_iso_code input[type="checkbox"]:checked').prop("checked", false));
                            clear_button.type = "button";
                            clear_button.innerText = "Uncheck All";
                            container.appendChild(clear_button);
                        }

                        function clearCheckboxes() {
                            $('#id_iso_code input[type="checkbox"]:checked').prop("checked", false);
                        }

                        $("#id_iso_code input[type='checkbox']").change(box => {
                            let num_checked = $("#id_iso_code input[type='checkbox']:checked").length;
                            if (num_checked > 5) {
                                alert("Please only select up to 5 countries.");
                                box.target.checked = false;
                            }
                        })
                    </script>
                </div>
            

                <!-- Chart -->
                <div class="col-md-9 card" style="padding:15px;margin-left:0;" id="graph_container">
                    {{ chart|safe }}
                </div>
            </div>
        {% if country_table %}
        <div>
        {% cache 500 country_table request.GET %}
            <table>
                <thead>
                <tr>
                    {% for field in fields %}
                        <th>{{ field }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for country in country_table %}
                    <tr>
                        {% for field in country %}
                            <td>{{ field }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endcache %}
        </div>
        {% endif %}
        </div>
	</div>
	
   
    

{% endblock content %}
