{% extends 'base.html' %}

{% block content %}
<head>
    <title>Data Page</title>
</head>
 
<body>

	<div class="tableBreak">
		<table class="tableBody">
			<tr>
				<th class="tableHeader1"> Data Page </th>
			</tr>
		</table>
	</div>
	
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <label for="inputCountry">Country</label>
            <select class="custom-select form-control" id="country_code" name="country_code" required>
                <option selected="selected" value="">Select a Country</option>
                <option value="USA">USA</option>
                <option value="CAN">Canada</option>
            </select>
    </form>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <label for="inputDataType">Data Type</label>
            <select class="custom-select form-control" id="country_code" name="country_code" required>
                <option selected="selected" value="">Select a Data Type</option>
                <option value="TOTAL_CASES">Total Cases</option>
                <option value="TOTAL_DEATHS">Total Deaths</option>
            </select>
    </form>
</body>
{% endblock content %}
